@inherits LayoutComponentBase
@using PaternBlazor.Model
@inject User User;

<div class="sidebar">
    <NavMenu />
</div>
    
<div class="main">
    <div class="top-row px-4">
        @if (User == null)
        {
            <button href="/">Войти</button>
        }
        else
        {
            <button target="_blank">Выйти</button>
        }
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{
}